
html {
  box-sizing: border-box;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: #2d2d2d;

}

input,
select,
textarea,
button,
select {
  outline: none;
  font: inherit;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}



//-----------------------------main------------------------------------


.nav {
  width: 100%;
  background-color: #0b0b0b;
  position: fixed;
  bottom: 0;
  height: 100px;
  overflow: hidden;

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 140vw;
  }

  li {
    float: left;
    display: inline-block;
    height: 98px;
    margin-bottom: 2px;
    line-height: 100px;
    width: 100%;
    max-width: 15%;
    text-align: center;
    color: #555;
    transition: background-color 0.5s 0.2s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    transform: translateY(100%);

    &:hover {
      cursor: pointer;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}


.nav li.active {
  background-color: #151515;
  color: #efefef;
}


.nav li.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f7ca18;
}

::selection {
  background-color: #f7ca18;
  color: #1b1b1b;
}

.nav li:nth-child(1) {
  animation: pop 0.5s 0.15s 1 forwards;
}

.nav li:nth-child(2) {
  animation: pop 0.5s 0.3s 1 forwards;
}

.nav li:nth-child(3) {
  animation: pop 0.5s 0.45s 1 forwards;
}

.nav li:hover {
  color: #ececec;
}

.nav li:active {
  background-color: #222;
}

.nav li:nth-child(1):hover ~ .nav__slide {
  left: 0;
}

.nav li:nth-child(2):hover ~ .nav__slide {
  left: 20vw;
}

.nav li:nth-child(3):hover ~ .nav__slide {
  left: 40vw;
}



.main {
  background-color: #1b1b1b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    width: 100%;
    max-width: 60%;
    align-self: center;
    transform: translateY(-50px);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;

    span {
      display: inline-block;
      font-size: 5vw;
      color: #efefef;
      width: 100%;
      text-transform: uppercase;
      transform: translateX(-100%);
      animation: byBottom 1s ease both;
      font-weight: 600;
      letter-spacing: 0.25vw;

      &:last-child {
        font-size: 1vw;
        animation: byBottom 1s 0.25s ease both;
      }

      .underlined {
        position: relative;
        display: inline-block;
        margin-left: 0.5rem;
        text-decoration: none;
        color: #f7ca18;
        cursor: text;

        &::after {
          content: "";
          height: 2px;
          width: 0;
          background-color: #f7ca18;
          position: absolute;
          bottom: -10px;
          left: 0;
          animation: linkAfter 0.9s 1s ease both;
        }
      }
    }
  }

  .socials {
    margin-top: -30px;
    width: 100%;
    max-width: 60%;
    height: 100px;
    font-size: 16px;
    text-align: left;
    overflow: hidden;
    animation: slide 1s ease both;
    color: #555;

    a {
      margin-right: 20px;

      &:hover {
        color: #efefef;
      }

      i {
        margin-right: 10px;
      }
    }
  }
}


//--------------------------------about------------------------------------

.text {
  padding: 10px 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 100px;

  &__paragraph {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;

    span {
      color: #f7ca18;
      margin-right: 10px;
    }
  }
}

//--------------------------------animations------------------------------------

//--------------cube-animation-----------------


.rectangle {
  position: absolute;
  top: 80vh;
  left: 5vw;
  border: solid 2px darken(#f7ca18, 8%);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;

  &:nth-child(2n) {
    border-color: lighten(#f7ca18, 10%);
  }

  &:nth-child(2) {
    animation-delay: 2s;
    left: 15vw;
    top: 30vh;
  }

  &:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }

  &:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }

  &:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }

  &:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px darken(#f7ca18, 8%);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;

  &:nth-child(2n) {
    border-color: lighten(#f7ca18, 10%);
  }

  &:nth-child(2) {
    animation-delay: 2s;
    left: 15vw;
    top: 30vh;
  }

  &:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }

  &:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }

  &:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }

  &:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideY {
  0% {
    opacity: (0);
  }
  50% {
    opacity: (0.5);
  }
  100% {
    opacity: (1);
  }
}

@-moz-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-o-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-o-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

//------------------------------------------------------portfolio--------------------------

$color-white: #fff;
$color-black: #000;

$transition-time: 250ms;
$transition-method: ease-in-out;

$card-height: 440px;
$card-width: 840px;
$card-hover-offset-x: 40px;
$card-hover-offset-y: 60px;

%clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.cards {
  width: 100%;
  height: 100vh;
  align-self: center;
  margin: 0 auto;
  color: #2d2d2d;
  animation: slideY 2s ease;
}

.card-movie-wrapper {
  margin-top: -50px;
  height: $card-height;
  position: relative;
  width: $card-width;

  &:hover {

    .card-movie-carousel {
      -webkit-transition: all $transition-time $transition-method;
      -moz-transition: all $transition-time $transition-method;
      transition: all $transition-time $transition-method;
      bottom: $card-hover-offset-y;
      right: $card-hover-offset-x;
    }
  }
}

.card-movie-wrapper--centered {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  top: 50%;
}

.card-movie-carousel {
  -webkit-transition: all $transition-time $transition-method 250ms;
  -moz-transition: all $transition-time $transition-method 250ms;
  transition: all $transition-time $transition-method 250ms;
  height: $card-height;
  width: $card-width;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.card-movie-navigation {
  background-color: #fafafa;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 15;

  &__list {
    $item-size: 12px;
    $item-size-active: $item-size * 1.5;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: ($card-hover-offset-x - $item-size) / 2;
    top: 50%;
    width: $item-size-active;

    li {
      -webkit-transition: all $transition-time $transition-method;
      -moz-transition: all $transition-time $transition-method;
      transition: all $transition-time $transition-method;
      background-color: #ccc;
      border-radius: 100%;
      cursor: pointer;
      height: $item-size;
      margin: 0 auto $item-size/2;
      width: $item-size;

      &:last-child {
        margin-bottom: 0;
      }

      &.is-active {
        height: $item-size-active;
        width: $item-size-active;
      }

      &:hover {
        background-color: #bbb;
      }
    }
  }

  button {
    $arrow-size: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    bottom: 0;
    color: #aac8ca;
    cursor: pointer;
    font-size: 14px;
    line-height: $card-hover-offset-y;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    right: $card-hover-offset-x;

    &:before {
      content: 'Watch Trailer';
    }

    &:after {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      border-bottom: $arrow-size solid transparent;
      border-left: $arrow-size solid #dce9e9;
      border-top: $arrow-size solid transparent;
      content: '';
      height: 0;
      margin-right: $arrow-size;
      position: absolute;
      right: 100%;
      top: 50%;
      width: 0;
    }

    &.is-playing {

      &:before {
        content: 'Hide Trailer';
      }

      &:after {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        margin-top: -$arrow-size;
      }
    }
  }
}

.card-movie {
  -webkit-transition: all ($transition-time * 2) $transition-method;
  -moz-transition: all ($transition-time * 2) $transition-method;
  transition: all ($transition-time * 2) $transition-method;
  background-size: cover;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  opacity: 0;
  width: 100%;
  z-index: 20;

  &__content {
    left: 350px;
    position: absolute;
    top: 130px;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }

  &__details {
    @extend %clearfix;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 16px;
    color: #c4c4c4;

    &-item {
      display: block;
      float: left;
      margin-right: 20px;
    }

    &-list {
      @extend %clearfix;

      li {
        float: left;
        margin-right: 5px;
        padding-right: 6px;
        position: relative;

        &:after {
          content: '|';
          position: absolute;
          right: 0;
        }

        &:last-child {
          margin-right: 0;

          &:after {
            display: none;
          }
        }
      }
    }
  }

  &__description {
    font-size: 14px;
    max-width: 390px;
  }

  &__rating {
    $size: 50px;
    bottom: $size/3;
    font-size: 18px;
    font-weight: 700;
    line-height: $size;
    position: absolute;
    right: $size/3;
    text-align: center;
    width: $size;

    a {
      width: 100%;
      height: 100%;
      display: block;
      border: 2px solid #f7ca18;
      border-radius: 100%;
    }

  }

  &__player {
    -webkit-transition: all ($transition-time * 2) $transition-method;
    -moz-transition: all ($transition-time * 2) $transition-method;
    transition: all ($transition-time * 2) $transition-method;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: 20;

    .card-movie--playing & {
      height: $card-height;
      width: $card-width;
    }

    iframe {
      height: 100%;
      width: 100%;
    }
  }
}

.card-movie--active {
  opacity: 1;
  z-index: 25;
}

.card-movie--light {
  background-color: #effdfd;

  [class*='__title'] {
    color: $color-black;
  }
}

.card-movie--dark {
  background-color: $color-black;
  color: #fff;

  [class*='__title'] {
    color: #fff;
  }
}

.card-movie--looper {
  background-image: url('../img/florida.png');
}

.card-movie--tron {
  background-image: url('../img/food.png');
}

.card-movie--interstellar {
  background-image: url('../img/share-me.png');
  background-color: #fffffa;
}

.card-movie--garden-state {
  background-image: url('../img/autosell.png');
}


.card-movie-navigation__list li.is-active {
  background-color: #f7ca18;
}

@media all and (max-width: 900px) {
  .nav {
    li {
      display: block;
      width: 100%;
      max-width: 22%;
      font-size: 12px;
    }
  }
  .main {
    .title {
      max-width: 100%;
      text-align: center;

      span {
        width: 100%;
        font-size: 10vw;

        &:last-child {
          font-size: 4vw;
        }
      }
    }

    .socials {
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      text-align: center;

      a {
        margin-bottom: 10px;
      }
    }

  }

}

.cards__mobile {
  display: none;
}


@media all and (max-width: 830px) {
  .cards {
    display: none;
  }

  .cards__mobile {
    display: block;
    width: 100%;
    margin-bottom: 120px;
    margin-top: 60px;
    .cards__mobile-item {
      margin: 0 auto 20px;
      width: 80%;
      height: auto;
      min-height: 300px;
      color: #2d2d2d;
      border: 1px solid #fff;
      background: #fff;
      padding: 20px;
    }
    .card-movie__rating {
      position: initial;
      right: 0;
      width: 100%;
      border: none;
      display: flex;
      justify-content: flex-end;

      a {
        width: 60px;
        height: 60px;
        border: 2px solid #f7ca18;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .card-movie__description {
      margin-bottom: 50px;
    }
  }
}